<aside class="main-sidebar" id="main-sidebar">
	<ul class="sidebar-menu sidenav" id="slide-out">
		<li>
			<a href="#">
				<span class="item-icon">
					<%= mi.dashboard %>
				</span>
				<span class="item-text">Item</span>
			</a>
		</li>
	</ul>
</aside>
